   a:link {
    background-color: yellow;
  }
  
  a:visited {
    background-color: cyan;
  }
  
  a:hover {
    background-color: lightgreen;
  }
  
  a:active {
    background-color: hotpink;
  } 

  .Url-container {
    display: inline;
    }


.new-style {
      display: inline;
    }

  .new-style a:link  {
    background-color: brown;
   }
   
  .new-style a:hover  {
    background-color: pink;
   }
