
.card-container {
margin:10px;
padding:10px;
background-color: lightblue;
border-radius: 10px;

}
.card-container-fav {
margin:10px;
padding:10px;
background-color: lightgreen;
border-radius: 10px;


}
// function getGraduationYear(){
//     let grad= filteredData.map(i=>{
//         i.Graduation_Year
//     })}
//     console.log(data);
// }

/* <input placeholder='Search with Company name'  value={searchText} onChange={(e)=>setSearchText(e.target.value)}/>
<Button onClick={()=>handleSearch()} color="primary">Search</Button>
{searchInvoked && <div>
     <Button onClick={()=>handleClear()} color="primary">Clear</Button>
     <FormGroup>
        <Label for="exampleSelectMulti">Filter by Graduation Year</Label>
        <Input type="select" name="selectMulti" id="exampleSelectMulti" multiple>
         
          <option>1</option>
            {getGraduationYear()}
        </Input>
      </FormGroup>

</div>

} */