

.container {
    display:flex;
    flex-direction: column;
    margin:5vw;
}


.Box2 {

min-height: 140px;
min-width:140px ;
border: 1px solid grey;
background-color: red;
box-sizing :border-box; 
margin:20px;

}


@media screen and (min-width: 760px) {
   .container {
       flex-direction: row;
   }

   .Box2 {
    min-height: 120px;
    min-width:20% ;
    border: 1px solid grey;
    background-color: red;
    box-sizing :border-box; 
    margin:1vw;
   }

  }

  #outside {
      background-color: aqua;
      min-width: 200px;
      min-height: 200px;

  }
  #middle {
      background-color: blue;
      min-width: 100px;
      min-height: 100px;

  }
  #inner {
      background-color: yellow;
      min-width: 50px;
      min-height: 50px;

  }