

.container {
    display:flex;
    flex-direction: column;
    margin:5vw;
}


.Box2 {

min-height: 140px;
min-width:140px ;
border: 1px solid grey;
background-color: red;
box-sizing :border-box; 
margin:20px;

}


@media screen and (min-width: 760px) {
   .container {
       flex-direction: row;
   }

   .Box2 {
    min-height: 120px;
    min-width:20% ;
    border: 1px solid grey;
    background-color: red;
    box-sizing :border-box; 
    margin:1vw;
   }

  }
